.selectors {
  margin-left: 50px;
}

h2 {
  color: #1d2d44;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
h3 {
  color: #748cab;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.article p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.article .highlight {
  color: #f44336;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}

.highlight {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
